@charset "utf-8";
*{
  box-sizing: border-box; 
  margin:0; 
  padding:0; 
  font-family:"Century Gothic", Arial, Helvetica, sans-serif; 
  text-decoration:none; 
  font-weight:normal; 
  border:none; 
  outline:none; 
  list-style-type:disc; 
  text-align:left;
}
::-webkit-scrollbar { 
    display: none; 
}
html{
  background-color: #F6FFFE;
  min-height: 100vh;
}
/*=========================================================================THIS IS THE NAV*/
#desktop-nav a#nav-title{
  text-align: left;
  padding-left: 42px;
  margin-top: -2px;
  }
#desktop-nav {
  overflow: hidden;
  background-color: #D4FBF6;
  position: relative;
  width:100vw;
}
#desktop-nav #mobile-nav, #desktop-nav #desktop-true-nav {
  display: none;
}
#desktop-nav #mobile-nav {
  height: 100vh;
  background-color: #D4FBF6;
}
#desktop-nav a {
  color: #147E70;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 13px;
  display: block;
}
#desktop-nav #mobile-nav a{
  display: list-item;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
#desktop-nav #mobile-nav a:hover{
  background-color: #8CE8DC;
  transition: 0.5s;
}
#desktop-nav a.icon {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  color: #3DBCB4;
}
#desktop-nav a.lang-button{
  text-align: right;
  float: right;
  margin-top: -36px;
  width: 40px;
  z-index: 1;
}
#desktop-nav #lang-FR{
  margin-right: 20px;
  width: 60px;
  z-index: -1;
}
/*===================================================THIS IS THE LANGUAGES BUTTONS*/
a.fixed-lang-button{
  display: none;
  position:fixed;
  line-height: 30px;
  color:#D4FBF6;
}
a.fixed-lang-button:hover{
  color:#3DBCB4;
}
a#fr-button{
  right:40px;
}
a#en-button{
  right:0;
}
/*==============================================================THIS IS THE HEADER*/
div#header img{
  display: block;
  width: 95%;
  padding: 5%;
}
div#header img#desktop-portrait, h1.lay-titles{
  display: none;
}
div#header-intro{
  padding: 10% 5%;
  color: #3DBCB4;
  line-height: 26px;
  font-size: 16px;
}
div#header-intro p{
  padding: 0% 6%;
  color: #0F9E94;
}
/*========================================================THIS IS THE MAIN CONTENT*/
button{
  outline: 1px solid #3DBCB4;
  padding: 5px 50px;
  font-size: 16px;
  margin-top: 15px;
  margin-left: 6%;
  background-color: #F6FFFE;
  border-radius: 15px;
  color: #3DBCB4;
}
button:hover{
  background-color: #3DBCB4;
  color: #F6FFFE;
  transition: 0.4s;
  cursor:grab;
}
/*==============================================================THIS IS THE FOOTER*/
body{
  position: absolute;
  min-height: 100vh;
}
footer{
    padding: 6px;
    width: 100%;
    background-color: #3DBCB4;
    color: #F6FFFE;
    font-size: 10px;
    position: absolute;
    bottom: 0;
  }
footer p{
  text-align: center;
}
/*==========================================================THIS IS THE ABOUT PAGE*/
div#resume-typo h1{
  margin-left:7%;
  color:#E7656E;
  font-weight: 600;
  font-size: 28px;
}
h1.centertitle{
  font-size: 37px;
  color: #EF939C;
  line-height: 38px;
  text-align: center;
}
h1.boldfont{
font-weight: 600;
color:#E7656E;
}
div#menu-img img{
  display: block;
  margin-left:auto;
  margin-right:auto;
  width:92%;
}
div.one-col{
  margin-top:30px;
}
div#menu-typo p{
  margin-top:15px;
  margin-left:7%;
  margin-right:7%;
  color: #0F9E94;
}
div#resume-img img{
  width:200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
div#resume-typo p{
  margin-top:5px;
  margin-left:7%;
  margin-right:7%;
  color: #0F9E94;
}
div.blueback{
  background-color:#D4FBF6;
  padding-top:20px;
  overflow: hidden;
}
button#centerbutton{
  display: block;
  width:200px;
  margin-top:25px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 50px;
  text-align: center;
  outline-color: #E7656E;
  color:#E7656E;
  background-color: #D4FBF6;
}
button#centerbutton:hover{
  background-color:#E7656E;
  color: #FFF;
}
/*THIS IS FOR THE CONTACT FORM====================================================*/
label, input, textarea{
  display: block;
  color:#147E70;
}
input, textarea{
  border: 1px solid #3DBCB4;
  width:100%;
  padding:20px;
}
label{
  padding-top:20px;
}
textarea{
  min-height:30vh;
}
div#thecontactform{
  padding:5%;
  overflow: hidden;
}
h1.contact-title{
  font-size: 25px;
  color:#EF939C;
}
h1#contact-title-bold{
  font-weight: 600;
  color:#E7656E;
}
/*THIS IS FOR BIGGER SCREENS ABOVE MOBILE=========================================*/
@media only screen and (min-width: 700px) {
  a.fixed-lang-button{
    display: block;
    padding-right: 9px;
  }
  div#lang-div{
    position:fixed;
    margin-top:6px;
    right:-20px;
    background-color:#147E70;
    width: 105px;
    height: 30px;
    border-radius: 15px;
  }
  #desktop-nav #mobile-nav a{
  display: none;
  }
  #desktop-nav a.icon {
  display: none;
  }
  #desktop-nav a#nav-title{
    display: inline-block;
    width: 290px;
  }
  #desktop-nav #desktop-true-nav{
    position: absolute;
    right: 0;
    display: inline-block;
    background-color: #D4FBF6;
  }
  #desktop-nav #desktop-true-nav a{
  float: left;
  }
  #desktop-nav #desktop-true-nav a:hover{
    background-color: #8CE8DC;
    transition: 0.5s;
  }
  #desktop-nav a {
    color: #147E70;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 16px;
    display: block;
  }
  div#header img{
    display: none;
  }
  div#header{
    width: 50%;
    float: left;
    padding: 8% 2%;
    margin-left: 1%;
  }
  div#header-intro{
    width: 35%;
    margin-top: -20px;
    margin-right: 10%;
    float: left;
    height: 80vh;
    padding-right: 0%;
  }
  div#header-intro p{
    width: 128%;
  }
  div#header img#desktop-portrait{
    display: block;
    width: 100%;
  }
  h1.lay-titles{
    display: block;
    font-size: 37px;
    color: #EF939C;
    padding:  0% 6%;
    line-height: 35px;
  }
  h1#lay-titles-bold{
    font-weight: 600;
    color: #E7656E;
    padding-top: 20%;
  }
  div#header-intro p{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  div.blueback{
    background-color:#D4FBF6;
    padding-top:20px;
    clear: both;
  }
/*==========================================================THIS IS THE ABOUT PAGE*/
div#resume-typo h1{
  margin-left:7%;
}
h1.centertitle{
  text-align: left;
  margin-left:7%;
}
div#menu-img img{
  width:80%;
}
div#resume-img{
  float:left;
  width: 25%;
  padding: 2% 5%;
}
div#resume-typo{
  float:right;
  width: 75%;
  padding: 2% 5%;
}
div#menu-typo p{
  margin-top:15px;
  margin-left:7%;
  margin-right:7%;
  width: 60%;
}
div#resume-img img{
  width:200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20%;
}
div#resume-typo p{
  margin-top:5px;
  margin-left:55px;
  margin-right:30px;
}
div#resume-typo h1{
  margin-left:55px;
}
button#centerbutton{
  margin-top:25px;
  margin-left:55px;
  margin-right:0;
  text-align: center;
}
}
@media only screen and (min-width: 1046px) {
div#header{
  width: 45%;
  padding-top: 60px;
}
div#header-intro{
  width: 40%;
  padding: 10% 5%;
}
div#header-intro p{
  width: 150%;
}
img#desktop-portrait{
  max-width: 480px;
  margin-left: 10%;
}
/*==========================================================THIS IS THE ABOUT PAGE*/
div#menu-img img{
  width:500px;
}
div.slugs{
  min-height:90vh;
  clear: both;
  padding-top:30px;
  padding-bottom: 680px;
}
div.one-col, div.slugs{
  padding-left:10%;
  padding-right:10%;
  clear: both;
}
div#menu-typo{
  float:left;
  width: 50%;
}
div#menu-img{
  float:left;
  width:50%;
}
div.blueback, div.one-col{
  clear: both;
}
div#menu-typo p{
  margin-top:15px;
  margin-left:7%;
  margin-right:0%;
  width: 75%;
}
div#resume-img img{
  margin-top: 0;
}
div#menu-img img{
  width:600px;
}
div.blueback{
  padding-left:20%;
  padding-right:15%;
}

div#menu-typo p{
  width: 70%;
}
}
@media only screen and (min-width: 1580px) {
div#header{
  width: 45%;
  margin-top: -20px;
}
div#header-intro{
  width: 40%;
  padding: 8% 6%;
  margin-left: -2%;
}
div#header-intro p{
  width: 130%;
}
img#desktop-portrait{
  max-width: 480px;
  margin-left: 300px;
}
/*==========================================================THIS IS THE ABOUT PAGE*/
div#menu-img img{
  width:650px;
  margin-top: -45px;
}
}